- @subscribe_url = subscribe_url

.container
  .row
    .span12
      %ul.breadcrumb
        %li
          = link_to t('.topics'), topics_path
          %span.divider /
        %li.active
          = t ".#{action_name}"
  .row
    #mainbar.span9
      - if @topics.any?
        %section#topics.box.no-padding
          %table.item-list
            %tbody
              = render :partial => 'topic', :collection => @topics
        = paginate @topics
      - else
        %section.box
          = t '.no_topics'
    #sidebar.span3
      - if user_signed_in?
        = render :partial => 'shared/sidebar_profile'
        %section.box
          = link_to t('.create_topic'), new_topic_path(:tag => params[:tag]), :class => 'btn btn-primary'
      - else
        = render :partial => 'shared/sidebar_login'
      - if %w(index newest).include?(action_name)
        %section.box
          %header= t('.subscribe')
          = link_to image_tag('rss.png'), subscribe_url
      = raw @site.fragment.topics_sidebar_bottom
