#topbar
  .container
    .logo
      = link_to @site.name, root_path
    %ul.nav.nav-pills
      %li{:class => (controller_name == 'home' ? 'active' : nil)}
        = link_to t('.home'), root_path
      %li.dropdown{:class => (controller_name == 'topics' ? 'active' : nil)}
        %a{:href => "#", :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'data-target' => '#'}
          = t('.topics')
          %b.caret
        %ul.dropdown-menu
          %li= link_to t('.active'), topics_path
          %li= link_to t('.newest'), newest_topics_path
          - if user_signed_in?
            %li= link_to t('.my'), my_topics_path

      %li{:class => (controller_name == 'search' ? 'active' : nil)}
        = link_to t('.search'), search_path

    %ul.nav.nav-pills.pull-right
      - if user_signed_in?
        %li.dropdown
          %a{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'data-target' => '#'}
            %i.icon-user
            = current_user.username
            %b.caret
          %ul.dropdown-menu
            %li
              = link_to current_user do
                %i.icon-pencil
                = t('.profiles')
            %li.divider
            %li
              = link_to edit_user_registration_path do
                %i.icon-legal
                = t('.account_settings')
            - if current_user.admin?
              %li
                = link_to admin_dashboard_path do
                  %i.icon-key
                  = t('admin_dashboard')
            %li.divider
            %li
              = link_to destroy_user_session_path, :method => 'delete' do
                %i.icon-signout
                = t('signout')
      - else
        %li
          = link_to t('signup'), new_user_registration_path

        %li
          = link_to t('login'), new_user_session_path
